{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}


{% block styles%}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/index.css')}}">
<link href="https://fonts.googleapis.com/css2?family=Rakkas&display=swap" rel="stylesheet"> 
{% endblock %}  

{% block content %}
<body> 
<div class="container">
    <h1 class="heade"> WILD IT OUT BLOG </h1>
    <div class="row">
        <div class="col-md-6" id="paragraph">
            <h3 class="h">About</h3>
            <p class="par">We need different ways of interrating with each other and learning new things and cultures.
            In out blog you will be able to view the different posts that have been posted and be able to comment on them.
            We pride ourselves in having the most diverse  posting game from culture to sports.
           
        </div>    
            <h1> View Posts</h1>
            <div class="col-md-6" id ="posts" >
           {% for post in posts%}
                <h1 class="head"><a class="article-title" href='{{ url_for('main.post', post_id=post.id) }}'>{{ post.title }}</a></h1>
                <p> By: {{ post.author.username }} on {{ post.time_in.strftime('%Y-%m-%d')}}</p>
                <p>Post: {{ post.blog }} </p>
                <p>Time Posted: {{ post.time_in.strftime('%H:%M:%S')}}</p>
            {% endfor %} 
            </div>

        </div>    
    </div>
</div>
</body>
{% endblock %}